@page
@model Cinema.View.Pages.BillboardModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                @if (Model.Billboard.Count == default)
                {
                    <h3 style="text-align: center">Афиша на данный момент пуста</h3>
                }
                else
                {
                    <h3 style="text-align: center">Наши <span>фильмы</span></h3>
                    <ul class="list">
                        @foreach (var movie in @Model.Billboard)
                        {
                            <li>
                                <img width="100px" src="@movie.Movie?.PosterUrl" alt="@movie.Movie?.RussianName"/><a href="/Movie/?movieId=@movie.Id">@movie.Movie?.RussianName</a><br/>
                                @movie?.Movie?.ShortDescription<br/>
                                <div class="wrapper">
                                    <a href="/MovieReview/?id=@movie.Id" class="link2">
                                        <span>
                                            <span>Оценить</span>
                                        </span>
                                    </a>
                                </div>
                            </li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div>
</div>