@page
@model Cinema.View.Pages.BillboardModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
        <div class="inner">
            <h3>Наши <span>фильмы</span></h3>
            <ul class="list">
                <li>
                    <img src="images/2page-img1.jpg" alt=""/><a href="#">Джанго освобождённый</a><br/>
                    He is the most important member of your team. Usually this is the person who started the website. Maybe it is worth to write why he has made such a decision and what has inspired him.
                </li>
                <li>
                    <img src="images/2page-img2.jpg" alt=""/><a href="#">Укрощение строптивого</a><br/>
                    We are completly lost on what he's responsible for, but we hope that you know it ;) We also hope that you will tell it to the rest of the world including us by placing some real text here.
                </li>
                <li>
                    <img src="images/2page-img3.jpg" alt=""/><a href="#">Побег из шоушенка</a><br/>
                    We are completly lost on what he's responsible for, but we hope that you know it ;) We also hope that you will tell it to the rest of the world including us by placing some real text here.
                </li>
            </ul>
        </div>
        </div>
    </div>
</div>