@page
@model Cinema.View.Pages.CinemasInformationModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                <h3>Наши <span>кинотеатры</span></h3>
                <h4>Movie Plaza</h4>
                <div class="address">
                    <div class="fleft">
                        <span>Адрес: </span>г.Минск, уд. Якубова 6, кв.390 <br/>
                        <span>Сервисы: </span> <br/>
                        <div class="inner-span">
                            <span style="font-weight: unset">Название: </span>Аэрохоккей<br/>
                            <span style="font-weight: unset">Цена: </span>2 р.<br/>
                            <span style="font-weight: unset">Описание: </span>
                            <div style="width: 300px">Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.</div>
                        </div>
                        <span>Еда: </span> <br/>
                        <div class="inner-span">
                            <span style="font-weight: unset">Название: </span>Начос<br/>
                            <span style="font-weight: unset">Цена: </span>5.5 р.<br/>
                            <span style="font-weight: unset">Описание: </span>
                            <div style="width: 300px">Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.</div>
                        </div>
                    </div>
                    <br/>
                    <div class="extra-wrap">
                        <span style="font-weight: bold">Отзывы:</span><br/>
                        <span>Автор: </span>Халеев Павел Александрович<br/>
                        <span>Оценка: </span>5/10<br/>
                        <span>Комментарий: </span>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.<br/><br/>
                        <span>Автор: </span>Халеев Павел Александрович<br/>
                        <span>Оценка: </span>5/10<br/>
                        <span>Комментарий: </span>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.<br/><br/>
                    </div>
                    <br/>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2353.591977275083!2d27.59695011585747!3d53.85012068008768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbd1ed53471e8b%3A0x1f43dd67321df89f!2z0YPQuy4g0K_QutGD0LHQvtCy0LAgNiwg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1670158079646!5m2!1sru!2sby" width="1000" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <br/>
                    <div style="margin-left: 45%" class="wrapper">
                        <a href="#" class="link2">
                            <span>
                                <span class="button">Оценить</span>
                            </span>
                        </a>
                    </div>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>