@page
@model Cinema.View.Pages.IndexModel

@{
    ViewData["Title"] = Model.Title;
}

<div id="content">
    <div id="slogan">
        <div class="image png"></div>
        <div class="inside">
            <h2>Мы показываем<span>Только качественные фильмы</span></h2>
            <p>Не веришь? <a id="slogan_ref" href="/Billboard">Посмотри сам</a></p>
        </div>
    </div>
    <div class="box">
        <div class="border-right">
            <div class="border-left">
                <div class="inner">
                    <h3>Добро пожаловать на официальный сайт сети кинотеатров <b>Vup</b> <span>Sel</span></h3>
                    <p>Благодаря 4К в кинокартине можно разглядеть огромное количество деталей и почувствовать разницу между темными и светлыми участками в пределах одной сцены, например: яркая звезда на черном небе.
                        Технология уменьшения утечки света делает изображение более естественным и придает насыщенность темным тонам.
                        Зрители получают возможность ощутить невероятный эффект присутствия и полностью погрузиться в богатый деталями и красками мир 4K.
                        Передовая, инновационная система звука, полностью погружающая зрителя в происходящее на экране.
                        Благодаря возможности размещения и перемещения звукового сопровождения в любую точку кинотеатра технология Dolby Atmos, которая дает более глубокое погружение в фильм за счет эффекта присутствия. Уникальность системы заключается в возможности выделить абсолютно все звуковые объекты, каждый из которых подается на конкретную звуковую колонку так, как это задумал звукорежиссер фильма.
                        Технология сдвоенных проекторов создает эффект полного погружения благодаря четкости изображения и контрастности картинки.
                        Благодаря тому, что два проектора одномоментно передают сигнал на закругленный экран, картинка становится более реалистичной и объемной. Технология идеальна для просмотра 3D фильмов.</p>
                </div>
            </div>
        </div>
    </div>
</div>