@page
@model Cinema.View.Pages.MovieModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                <h4>Джанго освобождённый</h4>
                <div class="address">
                    <div class="fleft">
                        <span>Продолжительность: </span>155 мин.<br/>
                        <span>Возрастной рейтинг: </span>18<br/>
                        <span>Год издания: </span>2012<br/>
                        <span>Страны: </span> <br/>
                        <div class="inner-span">
                            Аэрохоккей<br/>
                        </div>
                        <span>Жанры: </span> <br/>
                        <div class="inner-span">
                            Аэрохоккей<br/>
                        </div>
                        <span>Режиссёры: </span> <br/>
                        <div class="inner-span">
                            Аэрохоккей<br/>
                        </div>
                        <span>Актёры: </span> <br/>
                        <div class="inner-span">
                            Аэрохоккей<br/>
                        </div>
                        <span>Сеансы: </span> <br/>
                        <div class="inner-span">
                            27.10.2022<br/>
                            <span>Model Plaza: </span>11:15<br/>11:15<br/>11:15<br/>11:15<br/>
                            <span>Model Carza: </span>11:15<br/>11:15<br/>11:15<br/>11:15<br/>
                            28.10.2022<br/>
                            <span>Model Plaza: </span>11:15<br/>11:15<br/>11:15<br/>11:15<br/>
                            <span>Model Carza: </span>11:15<br/>11:15<br/>11:15<br/>11:15<br/>
                        </div>
                        <span>Отзывы: </span> <br/>
                        <div class="inner-span">
                            <span>Автор: </span>Халеев Павел Александрович<br/>
                            <span>Оценка: </span>5/10<br/>
                            <span>Комментарий: </span>Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке направлений прогрессивного развития. С другой стороны реализация намеченных плановых заданий влечет за собой процесс внедрения и модернизации модели развития.<br/><br/>
                        </div>
                    </div>
                    <br/>
                    <!--<div class="extra-wrap">
                        <img src="images/2page-img3.jpg" width="200px" height="300px" alt=""/>
                    </div>-->
                    <br/>
                </div>
                <br/>
                <br/>
            </div>
        </div>
    </div>
</div>