@page
@model Cinema.View.Pages.MovieReviewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                <form id="contacts-form" action="/MovieReview/" method="post">
                    <fieldset>
                        <div style="margin-left: 230px;" class="field">
                            <label>Оценка:</label><input type="text" name="grade" value=""/>
                        </div>
                        <div style="margin-left: 230px;" class="field">
                            <label style="margin-right: -45px;">Отзыв:</label><textarea name="text" style="width: 90%"></textarea>
                        </div>
                        <div style="margin-left: -110px;" class="wrapper">
                            <a href="#" onclick="$('#contacts-form').submit()" class="link2">
                                <span>
                                    <span>Отправить</span>
                                </span>
                            </a>
                        </div>
                        <br/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

