@page
@model Cinema.View.Pages.MovieStudioModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                <ul class="list">
                    <li>
                        <img src="images/2page-img3.jpg" alt=""/><a href="/Cinemas">Адреса кинотеатров</a><br/>
                    </li>
                    <li>
                        <img src="images/2page-img3.jpg" alt=""/><a href="/Services">Сервисы</a><br/>
                    </li>
                    <li>
                        <img src="images/2page-img3.jpg" alt=""/><a href="/Snacks">Еда</a><br/>
                    </li>
                    <li>
                        <img src="images/2page-img3.jpg" alt=""/><a href="/CinemaHalls">Кинозалы</a><br/>
                    </li>
                    <li>
                        <img src="images/2page-img1.jpg" alt=""/><a href="/Movies">Фильмы</a><br/>
                    </li>
                    <li>
                        <img src="images/2page-img1.jpg" alt=""/><a href="/MovieShows">Киносеансы</a><br/>
                    </li>
                    <li>
                        <img src="images/2page-img3.jpg" alt=""/><a href="/News">Новости</a><br/>
                    </li>
                    <li>
                        <img src="images/2page-img2.jpg" alt=""/><a href="/Vacancies">Вакансии</a><br/>
                    </li>
                    <li>
                        <img src="images/2page-img3.jpg" alt=""/><a href="/Roles">Роли</a><br/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>