@page
@model Cinema.View.Pages.PersonalOfficeModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                <h3 style="text-align: center">Личные <span>данные</span></h3>
                <form id="contacts-form" action="">
                    <fieldset>
                        <div style="margin-left: 230px;" class="field">
                            <label style="margin-right: -45px;">Имя:</label><input type="text" name="name" value=""/>
                        </div>
                        <div style="margin-left: 230px;" class="field">
                            <label style="margin-right: -45px;">Почта:</label><input type="text" name="email" value=""/>
                        </div>
                        <div style="margin-left: -95px;" class="wrapper">
                            <a href="#" class="link2">
                                <span>
                                    <span>Сохранить</span>
                                </span>
                            </a>
                        </div>
                    </fieldset>
                </form>
                <br/>
                <h3 style="text-align: center">Личная <span>статистика</span></h3>
                <div class="address">
                    <div style="width: 60%; float: left">
                        <span>Количество билетов: </span><div style="display: inline">0</div><br/>
                        <span>Количество комментариев о кино: </span><div style="display: inline">0</div><br/>
                        <span>Количество комментариев о кинотеатрах: </span><div style="display: inline">0</div><br/>
                        <span>Количество откликов на вакансии: </span><div style="display: inline">0</div><br/>
                        <span>Пройденное время с момента регистрации: </span><div style="display: inline">0</div><br/>
                    </div>
                    <div class="extra-wrap">
                        <span>Ваша роль: </span>18+<br/>
                        <span>Доступны страницы: </span>
                        <div style="display: inline">Статистика, Заказ билета, Личный кабинет</div><br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>