@page
@model Cinema.View.Pages.VacancyFormModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                <form id="contacts-form" action="/VacancyForm/" method="post">
                    <fieldset>
                        <div style="margin-left: 230px;" class="field">
                            <label>Должность:</label><input type="text" name="name" value="@Model.Vacancy?.Name"/>
                        </div>
                        <div style="margin-left: 230px;" class="field">
                            <label>Зарплата:</label><input type="text" name="startSalary" value="@Model.Vacancy?.StartSalary"/>
                        </div>
                        <div style="margin-left: 230px;" class="field">
                            <label style="margin-right: -45px;">Описание:</label><textarea name="description" style="width: 90%">@Model.Vacancy?.Description</textarea>
                        </div>
                        <div style="margin-left: -110px;" class="wrapper">
                            <a href="#" onclick="$('#contacts-form').submit()" class="link2">
                                <span>
                                    <span>Сохранить</span>
                                </span>
                            </a>
                        </div>
                        <br/>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
