@page
@model Cinema.View.Pages.WorkModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="line-hor"></div>
<div class="box">
    <div class="border-right">
        <div class="border-left">
            <div class="inner">
                <h3>Наши <span>вакансии</span></h3>
                <div class="address">
                    <div class="fleft">
                        <span>Должность: </span>Уборщик<br/>
                        <span>Зарплата: </span>от 500 р.<br/>
                        <span>Автор: </span>Григорий Лепс<br/>
                    </div>
                    <div class="extra-wrap">
                        <span>Описание работы:</span><br/>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
                    </div>
                    <div class="wrapper">
                        <a href="#" class="link2">
                            <span>
                                <span class="button">Откликнуться</span>
                            </span>
                        </a>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="address">
                    <div class="fleft">
                        <span>Должность: </span>Уборщик<br/>
                        <span>Зарплата: </span>от 500 р.<br/>
                        <span>Автор: </span>Григорий Лепс<br/>
                    </div>
                    <div class="extra-wrap">
                        <span>Описание работы:</span><br/>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.
                    </div>
                    <br/>
                    <div class="wrapper">
                        <a href="#" class="link2">
                            <span>
                                <span class="button">Откликнуться</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>